<label for="place">Choose place:</label><br>
<input type="radio" ng-model="data.place" value="erdberg" />CD Erdberg
<input type="radio" ng-model="data.place" value="ottakring" />CD Ottakring<br />



<label for="sport">Choose sport:</label>
 <select ng-model="data.sport">
  <option value="squash">Squash</option>
  <option value="badminton">Badminton</option>
  <option value="tennis">Tennis</option>
</select> 
<br>

<button ng-click="reset()">RESET</button><br>
<button ng-click="send()">SEND</button><br>

<div ng-show="data.result">
	<table>
		<tr> <th>Date</th> <th>Time</th> <th>Free slots</th> </tr>


	
		
		<tr ng-repeat="slot in data.result.data" >
			
				
				<td id='tableDay'>{{slot.Tag}} </td>
				<td id='tableTime'>{{slot.Anfang}} - {{slot.Ende}}</td>
				<td id='tableFree'>{{slot.Frei}}</td>

	</tr>
	</table>
	




</div>
